(
    "DayDiplomacy_Engine.js",
    "DayDiplomacy_EngineAPI.js",
    "DayDiplomacy_Systems.js",
    "DayDiplomacy_SystemsAPI.js",
    "DayDiplomacy_EconomyEngine.js",
    "DayDiplomacy_EconomyEngineAPI.js",
    "DayDiplomacy_AlliancesEngine.js",
    "DayDiplomacy_AlliancesEngineAPI.js",
    "DayDiplomacy_Alliances.js",
    "DayDiplomacy_History.js",
    "DayDiplomacy_HistoryAPI.js",
    "DayDiplomacy_CitizenshipsEngine.js",
    "DayDiplomacy_CitizenshipsEngineAPI.js",
    "DayDiplomacy_Citizenships.js"
)